/android/.gradle
/android/.idea
/android/local.properties
/build/
/ios/.generated/
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Flutter/Generated.xcconfig
/ios/Runner/GeneratedPluginRegistrant.*
/ios/ServiceDefinitions.json
/ios/Runner.xcodeproj/project.xcworkspace/xcuserdata/
/ios/Runner.xcworkspace/xcuserdata/
*.iml
.idea/
.vscode/
.DS_Store
*.log
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.packages
